/*button {
	height: 40px;
	background-color: blue;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
}*/

.dd-container {
	width: 200px;
	background-color: violet;
	border: 3px solid blue;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	padding: 5px;
}

.dd-container li {
	list-style: none;
}

.dd-container a {
	color: #fff;
}